<% define_constants %>
<% @stream_id = params["stream_id"] %>
<% @token_info = get_stream @stream_id %>
<% @status = @token_info['status'] %>

<%# Just a dummy form that doesn't display itself %>
<%= form_with(model: @user, remote: true) do |f| %>
  <%= f.hidden_field "", value: @status, id: "status" %>
  <%= f.hidden_field "", value: @stream_id, id: "stream_id" %>
<% end %>

<div class="row">
  <div class="col text-center">
    <h1><%= @token_info["receiver_id"] %></h1>
    <h3>Stream ID: <%= @stream_id %></h3>
    
  </div>
</div>

<div class="row gap-3 pt-3 pb-3">
  <div class="d-flex align-items-center justify-content-center">
    <div class="card" style="width: 26rem;">
      <div class="card-body">
        <p>Note: Only updates once you pause and start stream.</p>
        <h3 class="card-title text-info text-center pt-3">
          Balance: <%= yocto_to_near(@token_info["balance"]).to_f %>
        </h3>

        <h4 class="card-subtitle text-primary text-center pt-3 pb-3">
          Tokens per second: 
          <%= yocto_to_near(@token_info["tokens_per_sec"], 5) %>
        </h4>

        <h5 class="card-subtitle <%= color_by_status(@status) %> text-center">
          Status: <%= @token_info["status"] %>
        </h5>

        <%# Disable buttons depending on status %>
        <div class="text-center p-4 px-2 gap-3">
          <div data-controller="stream" 
              data-stream-current-value="<%= @status %>"
              data-stream-streamId-value="<%= params[:stream_id] %>"
          >
            <button data-action="stream#start_stream" 
            data-stream-target="start"
            class="btn btn-success">
              Start
            </button>

            <button data-action="stream#pause_stream"
            data-stream-target="pause"
            class="btn btn-warning">
              Pause
            </button>

            <button data-action="stream#stop_stream"
            data-stream-target="stop"
            class="btn btn-danger">
              Stop
            </button>

            <%# Freelancer cannot see stop button. %>
            <%# Add withdraw button later. %>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</div>


