<% define_constants %>
<% @stream_id = params["stream_id"] %>
<% @token_info = get_stream @stream_id %>
<% @status = @token_info['status'] %>

<%# Just a dummy form that doesn't display itself %>
<%= form_with(model: @user, remote: true) do |f| %>
  <%= f.hidden_field "", value: @status, id: "status" %>
  <%= f.hidden_field "", value: @stream_id, id: "stream_id" %>
  <%= f.hidden_field "", value: @token_info["owner_id"], id: "stream_owner" %>

  <%= f.hidden_field "", value: get_from_database(@token_info['owner_id'], @stream_id),
  id: "remove_value" %>
  <% if @status["Finished"] %>
    <%= f.hidden_field "", value: @status["Finished"]["reason"], id: "reason" %>
  <% end %>
<% end %>

<div class="row">
  <div class="col text-center">
    <h1><%= @token_info["receiver_id"] %></h1>
    <h3>Stream ID: <%= @stream_id %></h3>
     <p>Note: Only updates if you interact with the buttons below.
        And if your value is smaller than the mentioned decimal places, it'll show zero.</p>
  </div>
</div>

<div class="row gap-3 pt-3 pb-3">
  <div class="d-flex align-items-center justify-content-center">
    <div class="card" style="width: 26rem;">
      <div class="card-body">
        <h3 class="card-title text-info text-center pt-3">
          Balance (3dp): <%= yocto_to_near(@token_info["balance"]).to_f %>
        </h3>

        <h4 class="card-subtitle text-primary text-center pt-3 pb-3">
          Tokens per second (5dp): 
          <%= yocto_to_near(@token_info["tokens_per_sec"], 5) %>
        </h4>

        <h5 class="card-subtitle <%= color_by_status(@status) %> text-center">
          Status: <%= @token_info["status"] %>
        </h5>

        <div class="card-subtitle pt-3 text-center">
          Estimated time left: <%= estimate_time @token_info  %>
        </div>


        <%# Disable buttons depending on status %>
        <div class="text-center p-4 px-2 gap-3">
          <div data-controller="stream">
            <button data-action="stream#start_stream" 
            data-stream-target="start"
            class="btn btn-outline-success">
              Start
            </button>

            <button data-action="stream#pause_stream"
            data-stream-target="pause"
            class="btn btn-outline-warning">
              Pause
            </button>

            <button data-action="stream#stop_stream"
            data-stream-target="stop"
            class="btn btn-outline-danger">
              Stop
            </button>

            <button data-action="stream#withdraw_stream"
            data-stream-target="withdraw"
            class="btn btn-outline-secondary">
              Withdraw
            </button>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</div>

<div data-controller="stoppedbyowner">
  <div data-stoppedbyowner-target="display" class="col-md-6 offset-md-3 pb-2">
    <strong><p>This stream is "Stopped by Owner" </p></strong>
    <p>If this is wrong: (i.e. not stopped by owner but finished naturally, etc reasons),
    please click the button below to remove from database hence preventing double display.</p>

    <div class="text-center">
      <button data-action="stoppedbyowner#add_or_remove"
      data-stoppedbyowner-target="button"
      class="btn btn-secondary"
      id="removal_button">
        Remove from database
      </button>
    </div>

  </div>
</div>


