<div class="pt-3 pb-3 bg-warning bg-opacity-10">
  <h1 class="text-center">Search for Freelancers</h1>
</div>

<div class="d-flex flex-row gap-3 pt-3 pb-3">
  <% (Freelancer.all).each do |f| %>
    <%= link_to "/hiring/" + f.account_id, class: "no_link" do %>
      <div class="card" style="width: 18rem;">
        <%# Add image later %>
        <%= image_tag "https://randomwordgenerator.com/img/picture-generator/54e8d7474f52ac14f1dc8460962e33791c3ad6e04e507441722a72dc9545c2_640.jpg" %>

        <div class="card-body">
          <h4 class="card-title"><%= f.account_id %></h4>
          <h5 class="card-subtitle text-danger"><%= f.price_per_hour %> NEAR</h5>
          <p class="card-text"><%= f.message %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
